<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=McLaren|Quicksand&display=swap" rel="stylesheet">    
    <title>Ronaldi Tjaidianto - Profil Web</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="kontainer" id="beranda">
        <div class="tron">
                <img src="static/asset/asset1.jpg">
                <h1>Ronaldi <br> Tjaidianto</h1>
                <hr>
                <h3>Mahasiswa.<br>
                    Quanta.<br>
                    CSUI 2018.
                </h3>
                <a href="#profil"><img id="down" src="static/asset/asset2.png"></a>
        </div>
    </div>
    
    <div class="kontainer" id="profil">
        <h2>Profil</h2>
        <div class="konten mx-auto">
            <img src="static/asset/Ronaldi.jpg">
            <div class="tabel">
                <table>
                    <tr>
                        <td>Nama</td>
                        <td class="data">: Ronaldi Tjaidianto</td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td class="data">: Mahasiswa</td>
                    </tr>
                    <tr>
                        <td>Universitas</td>
                        <td class="data">: Universitas Indonesia</td>
                    </tr>
                    <tr>
                        <td>Jurusan</td>
                        <td class="data">: Ilmu Komputer</td>
                    </tr>
                    <tr>
                        <td>Angkatan</td>
                        <td class="data">: 2018</td>
                    </tr>
                    <tr>
                        <td>NPM</td>
                        <td class="data">: 1806141441</td>
                    </tr>
                </table>
            </div>
            <h4>Tentang Saya</h4>
            <p>Saya mahasiswa jenjang sarjana di Fasilkom UI. Saya telah mempelajari pemrograman<br>
                web dan laman ini merupakan salah satu hasil dari pembelajaran tersebut.</p>
        </div>
    </div>
    <div class="kontainer" id="pengalaman">
        <h2>Pengalaman</h2>
        <div class="konten mx-auto">
            <div class="sub-konten">
                    <h4>Pendidikan</h4>
                    <ul>
                        <li><p>
                            Fakultas Ilmu Komputer, Universitas Indonesia <br>
                            2018 - Sekarang <br>
                            -- <i>Tools:</i> Python, Java
                        </p></li>
                        <li><p>
                            SMAN 7 Banjarmasin <br>
                            2015 - 2018 <br>
                            -- Peminatan: Matematika dan IPA
                        </p></li>
                    </ul>
                </div>
                <div class="sub-konten">
                    <h4>Organisasi</h4>
                    <ul>
                        <li><p>
                            Wakil Koordinator Humas OSUI Mahawaditra <br>
                            2019 - sekarang <br>
                            -- Mengatur publikasi eksternal dan website OSUI Mahawaditra
                        </p></li>
                        <li><p>
                            Staf Desain Humas OSUI Mahawaditra <br>
                            2018 - 2019 <br>
                            -- <i>Tools:</i> Adobe Photoshop, Adobe Illustrator
                        </p></li>
                        <li><p>
                            Staf Desain Paramita KMBUI<br>
                            2018 - 2019 <br>
                            -- <i>Tools:</i> Adobe Indesign, Adobe Photoshop
                        </p></li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="kontainer" id="kontak">
        <h2>Kontak</h2>
        <div class="sub-kontainer mx-auto">
            <a href="https://www.instagram.com/ronaldi.tj">
                <img class="icon" src="static/asset/ig.png"><p>ronaldi.tj</p></a>
            <img class="icon" src="static/asset/line.png">
            <p>ronaldi1</p>
            <img class="icon" src="static/asset/asset3.png">
            <p>ronaldi.tjaidianto@ui.ac.id</p>
        </div>
    </div>
    <footer>
        <div>
            <a href="#beranda"><img src="static/asset/asset2.png"><p>Kembali ke atas</p></a>
        </div>
    </footer>
</body>
</html>