<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: #011C37;">
    <a class="navbar-brand" href="{% url 'beranda:index'%}" style="font-family: 'Grand Hotel'; font-weight: 400; font-size: 16px; font-style: italic; line-height: 15px;">Ronaldi<br>Tjaidianto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown" style="font-family: 'Quicksand';">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'beranda:index'%}#beranda">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'beranda:index'%}#profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'beranda:index'%}#pengalaman">Pengalaman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'beranda:index'%}#kontak">Kontak</a>
            </li>
            <li class="nav-item dropdown pl-1" style="display: flex;align-items: center;">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 93%;">
                  Story
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown5" style="right: 0 !important; left: auto !important;">
                  <a class="dropdown-item" href="{% url 'status:index'%}">Status Log</a>
                  <a class="dropdown-item" href="{% url 'story7:index'%}">Profil Singkat</a>
                  <a class="dropdown-item" href="{% url 'story8:index8'%}">Perpustakaan Daring</a>
                  <a class="dropdown-item" href="{% url 'story9:index9'%}">Autentikasi</a>
                </div>
            </li>

        </ul>
    </div>
</nav>