<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 8</title>
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>
<body style="background: #d9effc;  color: #0b5058;">
    {% include 'navbar.html' %}
    <div class="row mt-5 text-center">
        <div class="col" style="font-family: 'McLaren';">
            <h1 style="font-size: 300%; padding-top: 30px;">Hai! Mau cari buku apa?</h1>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col text-center">
            <input type="text" name="" id="field" placeholder="Cari disini">
            <button type="submit" id="tombol">Cari!</button>
        </div>
    </div>
    
    <table class="align-items-center mx-auto mt-3 table table-bordered" id="hasil">
        <tr>
            <th>Cover</th>
            <th>Judul</th>
            <th>Penulis</th>
            <th>Deskripsi</th>
        </tr>
        {% for el in result.items %}
            <tr>
                <td><img src="{{el.volumeInfo.imageLinks.thumbnail}}" alt=""></td>
                <td>{{el.volumeInfo.title}}</td>
                <td>
                    <ul>
                    {% if el.volumeInfo.authors not in el %}
                        <li>Unknown</li>
                    {%else%}
                        {% for author in el.volumeInfo.authors %}
                        <li>{{author}}</li>
                        {% endfor %}
                    {%endif%}
                    </ul>
                </td>
                <td>{{el.volumeInfo.description}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
<script>
$(document).ready(() => {
    $("#tombol").click( function() {
        var apaja = $("#field").val();
        $.ajax({
            method: 'GET',
            url: "https://ronalditj.herokuapp.com/story8/get/" + apaja, 
            success: function(result){
                var judul = "<tr><th>Cover</th><th>Judul</th><th>Penulis</th><th>Deskripsi</th></tr>" 
                $("tbody").empty();
                $("tbody").append(judul);
                for(var j=0; j < 10 ; j++) {
                    var string = "<tr class=" + '"result"' + ">";
                    var buku = result.items[j];
                    // gambar
                    if (buku.volumeInfo.imageLinks == undefined)
                        string += "<td> Tidak Tersedia </td>";
                    else {
                        string += "<td><img src=" + buku.volumeInfo.imageLinks.thumbnail + "></td>";
                    }
                    // judul
                    string += "<td>" + buku.volumeInfo.title + "</td>";
                    // penulis
                    if (buku.volumeInfo.authors == undefined)
                        string += "<td> Unknown </td>";
                    else {
                        string += "<td><ul>";
                        for(var i =0; i < buku.volumeInfo.authors.length; i++){
                            string += "<li>"+buku.volumeInfo.authors[i] + "</li>";
                        }
                        string += "</ul></td>";
                    }
                    // description
                    if (buku.volumeInfo.description == undefined)
                        string += "<td> Tidak Tersedia </td>";
                    else {
                        string += "<td>" + buku.volumeInfo.description + "</td>";
                    }
                    string += "</tr>"
                    $("tbody").append(string);
                }
            }
        })
    })
})
</script>	
</html>