.dark {
    background-color: #042427;
    color: #eef9ff;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.light {
    background-color: #d9effc;
    color: #042427;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
body {
    font-family: "Quicksand";
}
h3, h6 {
    font-weight: bold;
}

.ui-accordion-header{
    border: 1px solid #042427;
    border-radius: 30px;
    padding: 10px;
    background: inherit;
    color: inherit;
    font-family: "Quicksand";
}

.ui-accordion-content{
    background: inherit;
    border: none;
    color: inherit;
    font-family: "Quicksand";
}

#hai {
    color: #042427;
}

