<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=McLaren|Quicksand&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Story 10</title>
</head>
<body style="font-family: 'Quicksand'; padding: 50px;">
    <h1 class="text-center" style="font-weight: bolder;">Load Balancer</h1> <br>
    <p>
        Load balancer adalah suatu alat yang digunakan untuk mendistribusikan <i>network traffic</i> atau
        <i>request</i> yang muncul secara efisien ke sebuah kumpulan server atau yang biasa disebut sebagai <i>server farm / server pool</i>.
        Load balancer akan meneruskan <i>request</i> yang dikirimkan pengguna kepada server yang tersedia menggunakan algoritma tertentu sehingga
        tidak ada server yang 'bekerja berlebihan'. Dengan menggunakan load balancer, <i>high availability</i> suatu layanan web akan terjamin, sehingga
        pengguna akan selalu dapat mengakses layanan web tersebut.
    </p>
    <p>
        Salah satu load balancer yang dapat digunakan adalah Nginx. Disini akan dibahas tentang implementasi load balancer menggunakan Nginx
        untuk menangani layanan web sederhana.
        <ol>
            <li>
                <b>Unduh Nginx</b> <br>
                Nginx dapat diunduh melalui <a href="http://nginx.org/en/download.html">http://nginx.org/en/download.html</a>.
            </li>
            <li>
                <b>Konfigurasi Nginx</b> <br>
                Setelah selesai mengunduh Nginx, ekstrak file tersebut kemudian buka file <i>nginx.conf</i> pada folder conf. <br>
                Kemudian, ubah konten pada tag http menjadi sebagai berikut: <br>
                <img src="{% static 'img1.PNG' %}" alt="code http" style="width: 25%; padding: 10px;"> <br>
                Yang dilakukan oleh kode diatas adalah 
                <ul>
                    <li>
                        upstream <br>
                        => Mendefinisikan server yang akan digunakan yaitu localhost:8000 dan localhost:9000.
                    </li>
                    <li>
                        server <br>
                        => Server ini akan menerima <i>request</i> dan akan meneruskannya kepada upstream.
                    </li>
                </ul>
            </li>
            <li>
                <b>Jalankan Nginx</b> <br>
                Untuk menjalankan Nginx, dapat dilakukan dengan <i>double click</i> pada <u>nginx.exe</u> atau 
                dengan menjalankan <i>start nginx</i> pada command line di folder Nginx berada.
            </li>
        </ol> 
    </p>
    <p>
        Untuk menguji konfigurasi diatas, dibawah ini ditampilkan sebuah aplikasi sederhana yang akan menampilkan port yang sedang digunakan. <br>
        Karena server yang digunakan adalah localhost pada port 8000 dan 9000, server pada port tersebut harus dinyalakan terlebih dahulu.
        Kemudian, ketika kita mengakses localhost pada browser yang muncul adalah sebagai berikut: <br>
        <div>
            <img src="{% static 'img2.png' %}" alt="ss1" style="width: 70%;"> 
        </div>
        <br>
        Ketika kita me-<i>refresh</i> halaman tersebut yang muncul adalah sebagai berikut:
        <br><br>
        <div>
            <img src="{% static 'img3.png' %}" alt="ss2" style="width: 70%;">
        </div>
        <br>
        Dari kedua gambar tersebut, dapat dilihat bahwa server yang melayani request berganti-ganti. Hal ini menunjukkan bahwa load balancer sudah berjalan.
    </p>
</body>
</html>