<head>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=McLaren|Quicksand&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>See Ya!</title>
</head>
<body class="d-flex align-items-center text-center justify-content-center h-100" style="background: #d9effc;  color: #0b5058; font-family: 'McLaren';">
    {% block content %}
    {% include 'navbar.html' %}
    <div>
      <h1 style="font-size: 400%;">Logged out!</h1>
      <h5><i>You'll soon be redirected to the front page. Byee!</i></h5>
    </div>
    {% endblock %}  
</body>
<script>
  $(document).ready(function(){
    setTimeout(function() {
      location.href = "{% url 'story9:index9' %}"
    }, 3000);
  });
</script>