<head>
    <link href="https://fonts.googleapis.com/css?family=McLaren|Quicksand&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Register</title>
</head>
<body class="d-flex align-items-center text-center justify-content-center h-100" style="background: #d9effc;  color: #0b5058; font-family: 'McLaren';">
    {% block content %}
    {% include 'navbar.html' %}
    <div>
        <form method="POST">
            <table>
                {% csrf_token %}
                {{form.as_table}}
            </table>
            <input type="submit" class="mt-3" value="Register" id="daftar">
        </form>
    </div>
    {% endblock %}
</body>