<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <!-- CSS & Bootstrap -->
    <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static 'css/story7.css' %}">
    <!-- javaScript & jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'javascript/story7.js' %}"></script>
    <title>Story 7</title>
</head>
<body class="light" id="body">
    {% include 'navbar.html' %}
    <div class="custom-control custom-switch text-center mt-3" style="padding-top: 60px;">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="changeClass()">
        <label class="custom-control-label" for="customSwitch1" id="tombol">Ubah tema!</label>
    </div>

    <div class="text-center mt-4">
        <h1><b id="hai">Hai!</b> Hi!</h1>
        <h2>你好! 안녕! こんにちは!</h2>
    </div>

    <div id="accordion" class="col-6 mx-auto mt-5 text">
        <h3>Aktivitas</h3>
        <div>
            <p style="text-align: justify;">
            Saat ini saya sedang menjalani perkuliahan tingkat sarjana di Fakultas Ilmu Komputer, Universitas Indonesia.
            Selain itu, saya juga tergabung sebagai anggota pada Orkestra Simfoni Universitas Indonesia Mahawaditra dan
            Keluarga Mahasiswa Buddhis Universitas Indonesia.
            </p>
        </div>
        <h3>Pengalaman Organisasi/Kepanitiaan</h3>
        <div>
            <h6>Organisasi</h6>
            <ul>
                <li>Wakil Koordinator Humas OSUI Mahawaditra (2019-sekarang)</li>
                <li>Staf Humas OSUI Mahawaditra (2018-2019)</li>
                <li>Staf Paramita KMBUI (2018-2019)</li>
            </ul>
            <h6>Kepanitiaan</h6>
            <ul>
                <li>Staf Desain Misi Edukasi OSUI Mahawaditra (2019)</li>
                <li>Staf Desain Konser MusiKampus OSUI Mahawaditra (2019)</li>
            </ul>
        </div>
    </div>
</body>
</html>