<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <title>Story 9</title>
</head>
<body class="d-flex justify-content-center text-center h-100 align-items-center" style="background: #d9effc;  color: #0b5058; font-family: 'McLaren';">
    {% include 'navbar.html' %}
    <div>
        <h1 style="font-size: 400%;">Hello, {{user.get_full_name}}!</h1>
        <h2>Have a nice day! :)</h2>
        <button id="out">Logout</button>
    </div>
</body>
<script>
    $("#out").click( function() {
        location.href = "{% url 'story9:logout' %}";
    })
</script>
</html>