<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=McLaren|Quicksand&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Story 6</title>
</head>
<body style="font-family: 'Quicksand'; background: #d9effc;  color: #0b5058;">
    {% include 'navbar.html' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5" style="font-family: 'McLaren';">
            <h1 style="font-size: 300%; padding-top: 30px;">Halo, apa kabar?</h1>
        </div>
    </div>

    <div class="row" style="font-size: 18px;">
        <div class="col-lg-12 col-md-12 col-sm-12 align-items-center text-center mx-auto mt-4">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Masukkan!">
            </form>
        </div>
    </div>

    <div class="row align-items-center mx-auto text-center mt-4">
        <div class="col-6">
            <b>Status</b>
        </div>
        <div class="col-6">
            <b>Waktu</b>
        </div>
    </div>

    {% for el in list_status %}
    <div class="row align-items-center mx-auto text-center mt-1">
        <tr>
            <div class="col-6" style="overflow: auto;">
                <th>{{el.status}}</th>
            </div>
            <div class="col-6">
                <th>{{el.time}}</th>
            </div>
        </tr>
    </div>
    {% endfor %}
</body>
</html>